@import './variables';

.control-panel {
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: $ligth-page;
    color: $deep-blue;

    &_title {
    	font-size: 20px;
    	text-transform: uppercase;

    	&:after {
    		content: ':';
    	}
    }

    &_label {
    	margin: 0 5px;
    	font-size: 16px;
    	text-transform: uppercase;

    	&:after {
    		content: ':';
    	}
    }
}